
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.TextPost {
    background-color: #BDFF9E;
    width: 70vw;
    height: 70vh;
    outline: none;
    resize: none;
    border: none;
    margin-top: 20px;
}

.hytaleIcon {
    width: 20vw;
    position: absolute;
    right: 10px;
}

.all {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    background-color: #C0ECFF;
}

.AddPostText {
    margin-bottom: 20px;
    color: black;
    position: relative;
    left: 10px;
}

.AddPostButton {
    width: 200px;
    height: 50px;
    background-color: #D9FF5D;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;

}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0%;
  padding: 0%;
}