.TextPost {
    background-color: #BDFF9E;
    width: 70vw;
    height: 70vh;
    outline: none;
    resize: none;
    border: none;
    margin-top: 20px;
}

.hytaleIcon {
    width: 30vw;
    position: absolute;
    right: 10px;
}

.all {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
}

.AddPostText {
    margin-bottom: 20px;
    color: black;
    text-align: center;
    position: absolute;
    left: 10px;
}

.AddPostButton {
    width: 200px;
    height: 50px;
    background-color: #4CAF50;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
}