@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.hytaleIcon {
    width: 30vw;
    position: absolute;
    right: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #C0ECFF;
}

.posts {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-left: 50px;
    background-color: #BDFF9E;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.lower {
    display: flex;
    justify-content: space-between;
}

.LikeContainer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 15%;
    min-width: 100px;
}

.LikeIconClass {
    width: 16px;
    height: 16px;
}

.DislikeIconClass {
    width: 16px;
    height: 16px;
}
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.PostText {
    margin-left: 45px;
}

.divPost {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

